<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bartimaeus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE735AC51CABC83C00571088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE735AD91CABC83D00571088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE735AE41CABC83D00571088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
